@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-weight: 700;
  font-family: "Space Mono", monospace;
}

#root {
  background-color: hsl(185, 41%, 84%);
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#tip-box-container {
  display: flex;
  border-radius: 25px;
  width: 1000px;
  height: 500px;
  padding: 32px;
  gap: 24px;
  background: white;
}

#calculate-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  margin: 24px;
}

#calculate-box p {
  color: hsl(186, 14%, 40%);
}

#tip-sel-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 33.3%);
  row-gap: 12px;
  column-gap: 12px;
  direction: ltr;
}

#summary {
  display: grid;
  grid-template-rows: 100px auto auto;
  flex-direction: column;
  border-radius: 20px;
  background: hsl(183, 100%, 15%);
  width: 50%;
  padding: 50px;
}

.tip-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-size: 24px;
  border-radius: 8px;
  color: white;
  transition: color, background 0.2s;
  cursor: pointer;
  background: hsl(183, 100%, 15%);
}

.tip-button:hover {
  background: hsl(172, 67%, 75%);
  color: hsl(183, 100%, 15%);
}

.input-box {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  padding: 8px;
  font-size: 24px;
  border-radius: 8px;
  text-align: right;
  transition: color, background 0.2s;
  background: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  outline-color: hsl(172, 67%, 75%);
}
.input-box::placeholder {
  color: hsl(184, 14%, 56%);
}
.input-logo {
  height: 25px;
  position: absolute;
  translate: 12px 12px;
}

#reset-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  padding: 8px;
  font-size: 24px;
  border-radius: 8px;
  background: hsl(172, 67%, 50%);
  color: hsl(183, 100%, 15%);
  transition: color, background 0.2s;
  cursor: pointer;
}
#reset-button:hover {
  background: hsl(172, 67%, 75%);
}

.attribution {
  position: absolute;
  justify-self: center;
  align-self: flex-end;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
