@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black;
}

/* ignore */
.attribution {
  /* bottom center */
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);

  padding: 5px;
  border-radius: 10px 10px 0 0;
  font-size: 11px;
  text-align: center;
  box-shadow: 0 0 10px 2px gray;
  background-color: white;
}
.attribution a {
  font-size: 11px;
  color: hsl(228, 45%, 44%);
}
