@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --input-button: hsl(183, 100%, 15%);
  --button-selected: hsl(172, 67%, 75%);

  --input-field: hsl(189, 41%, 92%);
  --field-select: hsl(172, 67%, 75%);

  --summary-box: hsl(183, 100%, 15%);
}

body {
  @apply bg-[hsl(185,_41%,_84%)];
}

#root {
  background-color: hsl(185, 41%, 84%);
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#calculator-app {
  @apply flex gap-[5%] bg-white h-[500px] w-[1000px] p-10;
  display: grid;
  grid-template-columns: 47.5% 47.5%;
  border-radius: 24px;
  font-family: "Space Mono", monospace;
  font-weight: bold;
}

#inputs-container {
  @apply w-[100%] h-full;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
}

#summary-container {
  @apply w-[100%] h-full;
  border-radius: 16px;
  background: var(--summary-box);
  padding: 32px;
  overflow: hidden;
}

#calculator-app input {
  width: 100%;
  font-size: 24px;
  border-radius: 8px;
  padding: 8px;
}

.input-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  background: var(--input-button);
  color: white;
  transition: background 0.2s;
}

.input-button-selected {
  background: var(--button-selected);
  color: hsl(183, 100%, 15%);
}

.input-field {
  display: flex;
  justify-content: space-between;
  align-content: center;
  text-align: right;

  background: var(--input-field);
  outline-color: var(--field-select);
  color: hsl(183, 100%, 15%);
  transition: 0.2s;
}
/* hide arrow */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-field-error {
  outline-color: red;
}
.input-logo {
  height: 20px;
  position: absolute;
  translate: 15px 15px;
}
#reset-button-disabled {
  color: hsl(183, 100%, 18%);
  background-color: hsl(183, 100%, 20%);
  transition: 0.2s;
}

#reset-button {
  cursor: pointer;
  background-color: hsl(172, 67%, 45%);
  transition: 0.2s;
}

#reset-button:hover {
  background-color: hsl(172, 67%, 75%);
}
.summary-label {
  color: hsl(189, 41%, 97%);
}

.summary-perLabel {
  color: hsl(186, 14%, 43%);
}

.summary-total {
  color: hsl(172, 67%, 45%);
}

.input-label {
  color: hsl(186, 14%, 43%);
}

@media screen and (max-width: 1000px) {
  #tip-grid {
    @apply grid-cols-2;
  }

  #calculator-app {
    @apply flex gap-10 bg-white h-[1000px] w-[500px] p-10;
    flex-direction: column;
  }
  #inputs-container {
    @apply h-[50%] w-full;
  }

  #summary-container {
    @apply h-[50%] w-full;
  }
}

@media screen and (max-width: 700px) {
  #calculator-app {
    @apply flex gap-10 bg-white h-[800px] w-[370px] p-10;
  }
}

/* ignore this*/
.attribution {
  /* bottom center */
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);

  padding: 5px;
  border-radius: 10px 10px 0 0;
  font-size: 11px;
  text-align: center;
  box-shadow: 0 0 10px 2px gray;
  background-color: white;
}
.attribution a {
  font-size: 11px;
  color: hsl(228, 45%, 44%);
}
