@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --input-button: hsl(183, 100%, 15%);
  --button-selected: hsl(172, 67%, 75%);

  --input-field: hsl(189, 41%, 92%);
  --field-select: hsl(172, 67%, 75%);

  --summary-box: hsl(183, 100%, 15%);
}

body {
  @apply bg-[hsl(185,_41%,_84%)];
}

#root {
  background-color: hsl(185, 41%, 84%);
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#calculator-app {
  @apply flex gap-10 bg-white h-[500px] w-[1000px] p-10;
  border-radius: 24px;
  font-family: "Space Mono", monospace;
  font-weight: bold;
}

#inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
}

#summary-container {
  border-radius: 16px;
  background: var(--summary-box);
  padding: 32px;
}

#calculator-app input {
  width: 100%;
  font-size: 24px;
  border-radius: 8px;
  padding: 8px;
}

.input-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  background: var(--input-button);
  color: white;
  transition: background 0.2s;
}

.input-button-selected {
  background: var(--button-selected);
}

.input-field {
  display: flex;
  justify-content: space-between;
  align-content: center;
  text-align: right;

  background: var(--input-field);
  outline-color: var(--field-select);
  transition: color, background 0.15s;
}
.input-logo {
  height: 20px;
  position: absolute;
  translate: 15px 15px;
}

#reset-button {
  cursor: pointer;
  background-color: hsl(172, 67%, 45%);
  transition: 0.2s;
}

#reset-button:hover {
  background-color: hsl(172, 67%, 75%);
}
.summary-label {
  color: hsl(189, 41%, 97%);
}

.summary-perLabel {
  color: hsl(186, 14%, 43%);
}

.summary-total {
  color: hsl(172, 67%, 45%);
}

.input-label {
  color: hsl(186, 14%, 43%);
}

/* ignore this*/
.attribution {
  /* bottom center */
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);

  padding: 5px;
  border-radius: 10px 10px 0 0;
  font-size: 11px;
  text-align: center;
  box-shadow: 0 0 10px 2px gray;
  background-color: white;
}
.attribution a {
  font-size: 11px;
  color: hsl(228, 45%, 44%);
}
